:root {
  --primary-color: #f4f0ed;
  --secondary-color: #ebebeb;
  --third-color: #000000;
  --fourth-color: #1e63b4;
  --fifth-color: #cf6c10;
}
@font-face {
  font-family: AKIRA;
  src: url("Fonts/FontsFree-Net-Akira-Expanded-Demo.ttf");
}
@font-face {
  font-family: SOFIA;
  src: url("Fonts/Sofia\ Pro\ Medium\ Italic\ Az.otf");
}
* {
  background-color: var(--primary-color);
}
.PORTA {
  display: inline;
  color: var(--third-color);
  font-family: SOFIA;
}
.FOLIO {
  display: inline;
  color: var(--third-color);
  font-family: AKIRA;
}
.Mainname {
  padding-left: 850px;
  font-size: 30px;
  padding-top: 210px;
}

h3 {
  color: var(--third-color);
}
h4 {
  color: var(--third-color);
}

p {
  color: var(--third-color);
}
.MVR {
  width: 5%;
}
.graphicdesign {
  font-family: poppins;
  letter-spacing: 2px;
  display: inline;
  top: 10px;
  position: absolute;
}
.Menu p {
  display: inline;
  font-family: poppins;
  font-weight: bold;
  color: var(--fourth-color);
  padding: 30px;
}

.Menu {
  display: inline;
  padding-left: 850px;
}
.ByMichaVillegas {
  display: inline;
  font-family: poppins;
  letter-spacing: 2px;
  font-size: 12px;
}
.Headerintroduction {
  color: var(--third-color);
  font-family: poppins;
}
.Colum1 {
  display: inline-block;
  width: 500px;
  padding-left: 60px;
  text-align: center;
  padding-top: 100px;
}
.Portraitpicture {
  width: 400px;
}
.Colum2 {
  width: 500px;
  font-family: poppins;
  display: inline-block;
  height: 350px;
  padding-left: 200px;
  vertical-align: top;
  text-align: justify;
  padding-top: 100px;
}
.welcometext {
  font-family: poppins;
  font-size: medium;
}
