:root {
  --primary-color: #f4f0ed;
  --secondary-color: #ebebeb;
  --third-color: #000000;
  --fourth-color: #1e63b4;
  --fifth-color: #cf6c10;
}
@font-face {
  font-family: AKIRA;
  src: url("Fonts/FontsFree-Net-Akira-Expanded-Demo.ttf");
}
@font-face {
  font-family: SOFIA;
  src: url("Fonts/Sofia\ Pro\ Medium\ Italic\ Az.otf");
}
* {
  background-color: var(--third-color);
}

h3 {
  color: var(--third-color);
}
h4 {
  color: var(--third-color);
}

p {
  color: var(--third-color);
}
.MVR {
  width: 5%;
}
.graphicdesign {
  font-family: poppins;
  letter-spacing: 2px;
  display: inline;
  top: 10px;
  position: absolute;
}
.Menu {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 30px;
}
.Menu a {
  display: inline;
  font-family: poppins;
  font-weight: bold;
  color: var(--fifth-color);
  padding: 30px;
  text-decoration: none;
}
.Menu a:active {
  color: var(--fourth-color);
}
.ByMichaVillegas {
  display: inline;
  font-family: poppins;
  letter-spacing: 2px;
  font-size: 12px;
}
.Headerintroduction {
  color: var(--third-color);
  font-family: poppins;
}

.backgroundcolor {
  background-color: var(--third-color) !important;
}
.back {
  font-family: poppins;
  font-weight: lighter;
  letter-spacing: 2px;
  color: var(--secondary-color);
  margin-top: 25px;
  text-decoration: none;
  position: absolute;
  left: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid grid-template-rows: max-content;
  grid-gap: 10px;
  padding:30px
}

.gallery img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  padding-top:15%;
}
.gallery2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid grid-template-rows: max-content;
  grid-gap: 10px;
  padding:30px
}

.gallery2 img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  padding-top:15%;
}
